apiVersion: v1
baseDomain: {{ install_config.base_domain }}
metadata:
  name: {{ install_config.cluster_name }}
networking:
  machineNetwork:
  - cidr: {{ install_config.machine_network_cidr }}
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: 2
controlPlane:
  name: master
  replicas: 3
  platform:
    baremetal: {}
platform:
  baremetal:
    apiVIP: {{ install_config.api_vip }}
    ingressVIP: {{ install_config.ingress_vip }}
    bootstrapExternalStaticIP: {{ install_config.bootstrap_ip }}
    bootstrapExternalStaticGateway: {{ install_config.bootstrap_gateway }}
    hosts:
      - name: openshift-master-0
        role: master
        bmc:
          address: ipmi://{{ install_config.hosts.master[0].ipmi_ip }}
          username: {{ install_config.hosts.ipmi_user }}
          password: {{ install_config.hosts.ipmi_password }}
        bootMACAddress: {{ install_config.hosts.master[0].boot_mac }}
        rootDeviceHints:
         deviceName: "/dev/sda"
      - name: openshift-master-1
        role: master
        bmc:
          address: ipmi://{{ install_config.hosts.master[1].ipmi_ip }}
          username: {{ install_config.hosts.ipmi_user }}
          password: {{ install_config.hosts.ipmi_password }}
        bootMACAddress: {{ install_config.hosts.master[1].boot_mac }}
        rootDeviceHints:
         deviceName: "/dev/sda"
      - name: openshift-master-2
        role: master
        bmc:
          address: ipmi://{{ install_config.hosts.master[2].ipmi_ip }}
          username: {{ install_config.hosts.ipmi_user }}
          password: {{ install_config.hosts.ipmi_password }}
        bootMACAddress: {{ install_config.hosts.master[2].boot_mac }}
        rootDeviceHints:
         deviceName: "/dev/sda"
      - name: openshift-worker-0
        role: worker
        bmc:
          address: ipmi://{{ install_config.hosts.worker[0].ipmi_ip }}
          username: {{ install_config.hosts.ipmi_user }}
          password: {{ install_config.hosts.ipmi_password }}
        bootMACAddress: {{ install_config.hosts.worker[0].boot_mac }}
      - name: openshift-worker-1
        role: worker
        bmc:
          address: ipmi://{{ install_config.hosts.worker[1].ipmi_ip }}
          username: {{ install_config.hosts.ipmi_user }}
          password: {{ install_config.hosts.ipmi_password }}
        bootMACAddress: {{ install_config.hosts.worker[1].boot_mac }}
        rootDeviceHints:
         deviceName: "/dev/sda"
pullSecret: '{{ pull_secret }}'
sshKey: '{{ kni_pub_key['content'] | b64decode | trim }}'
