apiVersion: v1
baseDomain: {{ install_config.base_domain }}
metadata:
  name: {{ install_config.cluster_name }}
networking:
  machineNetwork:
  - cidr: {{ install_config.machine_network_cidr }}
  networkType: OVNKubernetes
compute:
- name: worker
  replicas: 2
controlPlane:
  name: master
  replicas: 3
  platform:
    baremetal: {}
platform:
  baremetal:
    apiVIP: {{ install_config.api_vip }}
    ingressVIP: {{ install_config.ingress_vip }}
    bootstrapExternalStaticIP: {{ install_config.bootstrap_ip }}
    bootstrapExternalStaticGateway: {{ install_config.bootstrap_gateway }}
    hosts:
      - name: openshift-master-0
        role: master
        bmc:
          address: ipmi://<out_of_band_ip>
          username: <user>
          password: <password>
        bootMACAddress: <NIC1_mac_address>
        rootDeviceHints:
         deviceName: "/dev/sda"
      - name: <openshift_master_1>
        role: master
        bmc:
          address: ipmi://<out_of_band_ip>
          username: <user>
          password: <password>
        bootMACAddress: <NIC1_mac_address>
        rootDeviceHints:
         deviceName: "/dev/sda"
      - name: <openshift_master_2>
        role: master
        bmc:
          address: ipmi://<out_of_band_ip>
          username: <user>
          password: <password>
        bootMACAddress: <NIC1_mac_address>
        rootDeviceHints:
         deviceName: "/dev/sda"
      - name: <openshift_worker_0>
        role: worker
        bmc:
          address: ipmi://<out_of_band_ip>
          username: <user>
          password: <password>
        bootMACAddress: <NIC1_mac_address>
      - name: <openshift_worker_1>
        role: worker
        bmc:
          address: ipmi://<out_of_band_ip>
          username: <user>
          password: <password>
        bootMACAddress: <NIC1_mac_address>
        rootDeviceHints:
         deviceName: "/dev/sda"
pullSecret: '{{ pull_secret }}'
sshKey: '<ssh_pub_key>'
